<a href="https://colab.research.google.com/github/Eman-diab-hussein/deep/blob/main/copy_of_untitled18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from imblearn.under_sampling import RandomUnderSampler
from imblearn.over_sampling import RandomOverSampler

In [ ]:
#https://www.kaggle.com/datasets/dark06thunder/credit-card-dataset?resource=download
data = pd.read_csv('/content/archive.zip')

df = pd.DataFrame(data)

df.head(10)

,Unnamed: 0,ID,GENDER,CAR,REALITY,NO_OF_CHILD,INCOME,INCOME_TYPE,EDUCATION_TYPE,FAMILY_TYPE,HOUSE_TYPE,FLAG_MOBIL,WORK_PHONE,PHONE,E_MAIL,FAMILY SIZE,BEGIN_MONTH,AGE,YEARS_EMPLOYED,TARGET
0,0,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,1,0,0,0,2.0,29,59,3,0
1,1,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,1,0,1,1,1.0,4,52,8,0
2,2,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,1,0,1,1,1.0,26,52,8,0
3,3,5008810,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,1,0,1,1,1.0,26,52,8,0
4,4,5008811,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,1,0,1,1,1.0,38,52,8,0
5,5,5008815,M,Y,Y,0,270000.0,Working,Higher education,Married,House / apartment,1,1,1,1,2.0,5,46,2,0
6,6,5112956,M,Y,Y,0,270000.0,Working,Higher education,Married,House / apartment,1,1,1,1,2.0,42,46,2,0
7,7,5008819,M,Y,Y,0,135000.0,Commercial associate,Secondary / secondary special,Married,House / apartment,1,0,0,0,2.0,17,49,3,0
8,8,5008820,M,Y,Y,0,135000.0,Commercial associate,Secondary / secondary special,Married,House / apartment,1,0,0,0,2.0,16,49,3,0
9,9,5008821,M,Y,Y,0,135000.0,Commercial associate,Secondary / secondary special,Married,House / apartment,1,0,0,0,2.0,8,49,3,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25134 entries, 0 to 25133
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      25134 non-null  int64
 1   ID              25134 non-null  int64
 2   GENDER          25134 non-null  object
 3   CAR             25134 non-null  object
 4   REALITY         25134 non-null  object
 5   NO_OF_CHILD     25134 non-null  int64
 6   INCOME          25134 non-null  float64
 7   INCOME_TYPE     25134 non-null  object
 8   EDUCATION_TYPE  25134 non-null  object
 9   FAMILY_TYPE     25134 non-null  object
 10  HOUSE_TYPE      25134 non-null  object
 11  FLAG_MOBIL      25134 non-null  int64
 12  WORK_PHONE      25134 non-null  int64
 13  PHONE           25134 non-null  int64
 14  E_MAIL          25134 non-null  int64
 15  FAMILY SIZE     25134 non-null  float64
 16  BEGIN_MONTH     25134 non-null  int64
 17  AGE             25134 non-null  int64
 18  YEARS_EMPLOYED  25134 non-null  int64
 19  TARGET          25134 non-null  int64
dtypes: float64(2), int64(11), object(7)
memory usage: 3.8+ MB

In [ ]:
df.duplicated().sum()

0

In [ ]:
df.shape

(25134, 20)

In [ ]:
df['TARGET'].value_counts()

TARGET
0    24712
1      422
Name: count, dtype: int64

In [ ]:
df = pd.get_dummies(df, columns=['REALITY','GENDER',	'CAR','INCOME_TYPE','EDUCATION_TYPE','FAMILY_TYPE','HOUSE_TYPE'])
df_encoded = pd.get_dummies(df, columns=df, drop_first=True)

ValueError: Boolean array expected for the condition, not int64

In [ ]:
import pandas as pd

# Assuming your DataFrame is named df
# Select categorical columns to one-hot encode
categorical_cols = ['GENDER', 'CAR', 'REALITY', 'INCOME_TYPE', 'EDUCATION_TYPE', 'FAMILY_TYPE', 'HOUSE_TYPE']

# Apply one-hot encoding to the selected columns
df= pd.get_dummies(df, columns=categorical_cols, drop_first=True)

In [ ]:
scaler = MinMaxScaler()
columns_to_normalize = ['ID','INCOME','BEGIN_MONTH']
df[columns_to_normalize] = scaler.fit_transform(df[columns_to_normalize])
df.head(10)

,Unnamed: 0,ID,NO_OF_CHILD,INCOME,FLAG_MOBIL,WORK_PHONE,PHONE,E_MAIL,FAMILY SIZE,BEGIN_MONTH,...,EDUCATION_TYPE_Secondary / secondary special,FAMILY_TYPE_Married,FAMILY_TYPE_Separated,FAMILY_TYPE_Single / not married,FAMILY_TYPE_Widow,HOUSE_TYPE_House / apartment,HOUSE_TYPE_Municipal apartment,HOUSE_TYPE_Office apartment,HOUSE_TYPE_Rented apartment,HOUSE_TYPE_With parents
0,0,0.000000,0,0.055233,1,0,0,0,2.0,0.483333,...,True,True,False,False,False,True,False,False,False,False
1,1,0.000014,0,0.156977,1,0,1,1,1.0,0.066667,...,True,False,False,True,False,True,False,False,False,False
2,2,0.000021,0,0.156977,1,0,1,1,1.0,0.433333,...,True,False,False,True,False,True,False,False,False,False
3,3,0.000028,0,0.156977,1,0,1,1,1.0,0.433333,...,True,False,False,True,False,True,False,False,False,False
4,4,0.000035,0,0.156977,1,0,1,1,1.0,0.633333,...,True,False,False,True,False,True,False,False,False,False
5,5,0.000064,0,0.156977,1,1,1,1,2.0,0.083333,...,False,True,False,False,False,True,False,False,False,False
6,6,0.735102,0,0.156977,1,1,1,1,2.0,0.700000,...,False,True,False,False,False,True,False,False,False,False
7,7,0.000092,0,0.069767,1,0,0,0,2.0,0.283333,...,True,True,False,False,False,True,False,False,False,False
8,8,0.000099,0,0.069767,1,0,0,0,2.0,0.266667,...,True,True,False,False,False,True,False,False,False,False
9,9,0.000106,0,0.069767,1,0,0,0,2.0,0.133333,...,True,True,False,False,False,True,False,False,False,False

In [ ]:
df.dtypes

Unnamed: 0                                        int64
ID                                              float64
NO_OF_CHILD                                       int64
INCOME                                          float64
FLAG_MOBIL                                        int64
WORK_PHONE                                        int64
PHONE                                             int64
E_MAIL                                            int64
FAMILY SIZE                                     float64
BEGIN_MONTH                                     float64
AGE                                               int64
YEARS_EMPLOYED                                    int64
TARGET                                            int64
GENDER_M                                           bool
CAR_Y                                              bool
REALITY_Y                                          bool
INCOME_TYPE_Pensioner                              bool
INCOME_TYPE_State servant                          bool
INCOME_TYPE_Student                                bool
INCOME_TYPE_Working                                bool
EDUCATION_TYPE_Higher education                    bool
EDUCATION_TYPE_Incomplete higher                   bool
EDUCATION_TYPE_Lower secondary                     bool
EDUCATION_TYPE_Secondary / secondary special       bool
FAMILY_TYPE_Married                                bool
FAMILY_TYPE_Separated                              bool
FAMILY_TYPE_Single / not married                   bool
FAMILY_TYPE_Widow                                  bool
HOUSE_TYPE_House / apartment                       bool
HOUSE_TYPE_Municipal apartment                     bool
HOUSE_TYPE_Office apartment                        bool
HOUSE_TYPE_Rented apartment                        bool
HOUSE_TYPE_With parents                            bool
dtype: object